*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@font-face
{
	font-family: "ptsans";
	src: url(../fonts/PT_Sans-Web-Regular.ttf);
}

.wrapper
{
	width: 800px;
	margin: 0 auto;
	font-family: ptsans;
}

.header
{
	background: url(../img/header.png) no-repeat;
	/*display: flex;
	flex-direction: column;*/
	overflow: hidden;
	/*background-repeat: no-repeat;*/
}

.logo
{
	display: flex;
	margin: 65px auto 47px;
	width: 109px;
}

.nav
{
	list-style-type: none;
	display: flex;
	width: 327px;
	margin: -7px auto;
	justify-content: space-between;
}

.nav__item
{
	
	
}

.nav__link
{
	color: #fff;
	text-transform: uppercase;
	font-size: 13px;
	text-decoration: none;
}

.header__caption
{
	font-size: 53px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	margin: 63px 0 43px;
}

.header__sub-caption
{
	font-size: 15px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-top: -19px;
}

.header__sub-caption:before, .header__sub-caption:after
{
	content: "";
	display: inline-block;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #d7dbdb;
	width: 100px;
	opacity: 0.24;
	vertical-align: middle;
}

.header__sub-caption:before
{
	margin-right: 32px;
}

.header__sub-caption:after
{
	margin-left: 32px;
}

.btn
{
	display: block;
	width: 98px;
	height: 35px;
	background: #50c3af;
	color: #fff;
	text-transform: uppercase;
	line-height: 35px;
	text-align: center;	
	border-radius: 30px;
	text-decoration: none;
}

.btn_header
{
	width: 235px;
	height: 48px;
	line-height: 48px;
	font-size: 15px;
	font-weight: 700;
	margin: 79px auto 125px;

}

.main
{
	display: flex;
	justify-content: space-between;
}

.main_grey
{
	background: #eeeeef;
}

.main_white
{
	background: #f5f5f5;
}

.main__card
{
	width: 173px;
	display: inline-block;
    text-align: center;	
    margin-top: 53px;
    margin-bottom: 69px;
	
}

.main__card:nth-child(1)
{
	margin-left: 109px;
}

.main__card:nth-child(3)
{
	margin-right: 109px;
}


.main__img
{
	height: 40px;
	margin-bottom: 24px;
}

.main__text
{
	text-transform: uppercase;
	font-size: 16px;
	color: #40474e;
	font-weight: bold;
}

.main__line
{
	background: #e2e3e4;
	height: 2px;
	width: 134px;
	margin: 16px auto;
    margin-bottom: 22px;
}

.main__caption
{
	color: #787b80;
	font-size: 14px;

}


.main__card2
{
	width: 290px;
	display: inline-block;
    margin-top: 65px;
	
}

.main__card2:nth-child(1)
{
	margin-left: 95px;
}

.main__card2:nth-child(2)
{
	margin-right: 75px;
}



.main__img2
{
	object-fit: none;
	width: 264px;
	height: 167px;
	margin-bottom: 33px;
}

.main__text2
{
	text-transform: uppercase;
	font-size: 18px;
	color: #40474e;
	font-weight: bold;
}

.main__line2
{
	background: #e2e3e4;
	height: 2px;
	width: 290px;
	margin: 23px auto;
    margin-bottom: 31px;

}

.main__caption2
{
	color: #787b80;
	font-size: 14px;
	margin-bottom: 34px;

}


.btn_main__card2
{
	text-transform: none;
	font-size: 14px;
	margin-bottom: 77px;
}


.main__card3
{
	display: inline;
	width: 585px;
	margin: 63px auto;
}

.main__text3
{
	text-transform: uppercase;
	font-size: 18px;
	color: #384048;
	font-weight: bold;
}

.main__icon3
{
	color: #c6cbd1;
	padding-right: 10px;
}

.main__line3
{
	background: #e2e3e4;
	height: 2px;
	width: 585px;
	margin: 19px auto;
    margin-bottom: 26px;
}

.main__caption3
{
	color: #787b80;
	font-size: 14px;
	margin-bottom: 38px;
}


.btn_main-grey
{
	text-transform: none;
	font-size: 14px;
	margin-bottom: 10px;
	background-color: #d2d5da;
}



.main__card4
{
	width: 190px;
	display: inline-block;
    margin-top: 53px;
	margin-bottom: 70px;
	
}

.main__card4:nth-child(1)
{
	margin-left: 100px;
}

.main__card4:nth-child(3)
{
	margin-right: 100px;
}



.main__img4
{
	object-fit: none;
	width: 190px;
	height: 138px;
	margin-bottom: 42px;
}

.main__text4
{
	text-transform: uppercase;
	font-size: 16px;
	color: #40474e;
	font-weight: bold;
}

.main__line4
{
	background: #e2e3e4;
	height: 2px;
	width: 190px;
	margin: 23px auto;
    margin-bottom: 31px;

}

.main__caption4
{
	color: #787b80;
	font-size: 14px;
	margin-bottom: 34px;

}


.main__link4
{
	text-transform: none;
	font-size: 14px;
	color: #50c3af;
	text-decoration: none;
}



.main__card5
{
	display: inline;
	width: 251px;
	margin: 63px auto;
}

.main__card5:nth-child(1)
{
	margin-left: 105px;
}

.main__card5:nth-child(2)
{
	margin-right: 106px;
}

.main__text5
{
	text-transform: uppercase;
	font-size: 18px;
	color: #384048;
	font-weight: bold;
}

.main__icon5
{
	color: #c6cbd1;
	padding-right: 10px;
}

.main__line5
{
	background: #e2e3e4;
	height: 2px;
	width: 251px;
	margin: 19px auto;
    margin-bottom: 26px;
}

.main__caption5
{
	color: #787b80;
	font-size: 14px;
	margin-bottom: 38px;
}


.btn_main__card5
{
	text-transform: none;
	font-size: 14px;
	margin-bottom: 10px;
	background-color: #50c3af;
}


.main__card6
{
	display: inline-block;
	width: 275px;
	margin: 63px auto;
}

.main__card6:nth-child(1)
{
	margin-left: 105px;
}

.main__card6:nth-child(2)
{
	margin-right: 106px;
}

.main__img6
{
	object-fit: none;
	width: 264px;
	height: 208px;
}

.main__text6
{
	text-transform: uppercase;
	font-size: 18px;
	color: #384048;
	font-weight: bold;
}

.main__line6
{
	background: #e2e3e4;
	height: 2px;
	width: 275px;
	margin: 19px auto;
    margin-bottom: 26px;
}

.main__caption6
{
	color: #787b80;
	font-size: 14px;
	margin-bottom: 38px;
}


.btn_main__card6
{
	text-transform: none;
	font-size: 14px;
	margin-bottom: 10px;
	background-color: #50c3af;
}

.main__end
{
	display: block;
	background: #50c3af;
	text-align: center;
	padding-top: 54px;
}

.main__end__text
{
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;


}

.main__end__icon
{
	padding-right: 10px;
	color: #a9ded5;
}

.main__end__line
{
	display: block;
	background: #61c8b6;
	height: 2px;
	width: 251px;
	margin: 25px auto 40px;
}

.main__end__img-card
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 590px;
	margin-left: 105px;

}

.main__end__img
{
	display: block;
	margin-bottom: 73px;
}

.footer
{
	display: flex;
	justify-content: space-between;
	background: #f5f5f5;
	font-size: 13px;

}

.footer__text
{
	margin-top: 24px;
	margin-bottom: 24px;
	margin-left: 109px;
	color: #aaacaf;
}

.footer__link
{
	text-decoration: none;
	color: #787b80;
}

.footer__icon
{
	display: flex;
	margin-right: 105px;
	color: #b5b7b9;
	align-items: center;
}

.footer__icon_pading
{
	padding-left: 20px;
}